# ========================================
# BPSR-PSO-SX / Sola Extended
# Node + Electron + VS + VSCode (Windows)
# ========================================

### Logs / diagnostics ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.*.json

### Runtime / temp ###
pids
*.pid
*.seed
*.pid.lock
.cache
.nyc_output
.history/
.tmp/
temp/
tmp/

### Build / outputs ###
dist/
out/
build/
build/Release
.webpack/
.vite/
.nuxt/
.next/
.vuepress/dist
.docusaurus/
.serverless/
.fusebox/
.dynamodb/

### Coverage ###
coverage/
*.lcov

### Dependencies ###
node_modules/
jspm_packages/
bower_components/
web_modules/

### TypeScript ###
*.tsbuildinfo
typings/

### Package managers ###
.npm
*.tgz
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Lint / style ###
.eslintcache
.stylelintcache

### Misc dev caches ###
.node_repl_history
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.lock-wscript

### Env files ###
.env
.env.*.local

### App data (si générés) ###
users.json
windowConfig.json

### Editors ###
# VS Code — CHOISIR A ou B :
# A) tout exclure :
.vscode/
# B) garder config partagée seulement :
# .vscode/*
# !.vscode/extensions.json
# !.vscode/launch.json
# !.vscode/settings.json
# !.vscode/tasks.json

# Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Generated\ Files/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
*.coverage
*.coveragexml
*.dll
*.pdb
*.exe
*.appx
*.appxbundle
*.appxupload
AppPackages/
BundleArtifacts/
publish/
*.publishproj
PublishScripts/
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
artifacts/
project.lock.json
project.fragment.lock.json
*.dbmdl
*.pfx
*.publishsettings
*.rptproj.bak
*.mdf
*.ldf
*.ndf
*.btm.cs
*.odx.cs
*.xsd.cs
*.vshistory/
.localhistory/
MigrationBackup/
FodyWeavers.xsd
*.code-workspace
*.sln.iml

### JetBrains ###
.idea/

### System ###
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
